*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.navBar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(15deg, black, darkblue, black, darkblue, black);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  filter: drop-shadow(2px 2px 10px black);
}
.navLinks{
  display: flex;
  gap: 20px;
}
.navLinks a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}
.container{
  width: 100%;
  position: relative;
  top: 0px;
}
.home{
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: 1;
  overflow: hidden;
}
.imgcontainer{
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}
.imgcontainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titleDiv{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10%;
  color: white;
  font-family: sans-serif;
}
.title{
  font-size: 60px;
}
.salogan{
  font-size: 18px;
}
.info{
  display: block;
  position: absolute;
  font-family: sans-serif;
  color: white;
  font-size: 20px;
  width: 45%;
  left: 8%;
  transform: translateY(-2.5rem);
}
.qoute-btn{
  display: inline-block;
  position: relative;
  padding: 16px;
  border-radius: 100px;
  background-color: #c7d419;
  color: black;
  font-weight: bold;
  width: 12rem;
  letter-spacing: 1px;
  top: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  border: none;
}
.qoute-btn:hover{
  width: 15rem;
}
.about{
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: 2;
}
.contact{
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: 3;
}
.organization{
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: 4;
}
.teams{
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: 5;
}
.blogs{
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: 6;
}